/*https://github.com/atharvabarve28*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #3498db;
}

.wrapper {
    height: 260px;
    background: #fff;
    max-width: 410px;
    border-radius: 7px;
    padding: 16px 25px 0;
    transition: height 0.2s ease;
}

.wrapper.active {
    height: 530px;
}

header h1 {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
}

header p {
    margin-top: 5px;
    color: #474747;
    text-align: center;
    font-size: 16px;
}

.wrapper .form {
    margin: 20px 0 25px;
}

.form :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form input {
    font-size: 18px;
    padding: 0 17px;
    border: 1px solid #999;

}

.form button {
    cursor: pointer;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    background: #3498db;
}

.wrapper .qr-code {
    pointer-events: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 33px 0;
    display: flex;
}

.wrapper.active .qr-code {
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.5s 0.5s ease;
}

button:active,
button.active {
    background-color: #007bff;
    color: #fff;
}